{% extends "layout.html" %}
{% block content %}

<div class="content-section">
    <form method="POST" action="" >
        {{ form.hidden_tag() }}

        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Create Transaction</legend>

            <!--Item Name-->
            <div class="form-group">
                {{ form.name.label(class="form-control-label") }}

                {% if form.name.errors %}
                {{ form.name(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.name.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.name(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <!--Number Taken -->
            <div class="form-group">
                {{ form.num_taken.label(class="form-control-label") }}

                {% if form.num_taken.errors %}
                {{ form.num_taken(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.num_taken.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.num_taken(class="form-control form-control-lg") }}
                {% endif %}
            </div>

        </fieldset>
        <div class="form-group">
            {{form.submit(class="btn btn-outline-info")}}
        </div>
    </form>
</div>

{% endblock content %}