<!--
Author:                Trevor Strobel
Date:                  4/21/21
-->
{% extends "layout.html" %}
{% block content %}
<h3 style="padding: 1%;">Dashboard</h3>

<!-- Item Alert Table: This table shows those items who are below or nearing the reorder threshold.-->

<div class="table-responsive">
    <h4>Reorder Alerts</h4>
    <table class="table table-striped">
        <thead class="">
        <tr> <!-- This block adds column names to the table-->
            {% for item in inv_column_html %}
            <th scope="col">{{item}}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for row in inv_data_html %} <!-- for row in query response, make a new row-->
        <tr>
            {% for data in (row | list)[0:3] %} <!--for every piece of data in a row (except the first(the id)), make a new cell-->
            <td>{{ data }}</td> <!-- populate cell-->
            {% endfor %}

            <!-- Vendor Section-->
            {% if row[4] != '' %} <!--checks to see if a vendor name is listed-->
            {% if row[5] != '' %} <!-- checks if there is a url associated-->
            <td>
                <a href={{row[4]}}>{{ row[3] }}</a> <!--takes the user to the specific page-->
            </td>
            {% else%}
            <td>
                <p>{{ row[3] }}</p> <!---->
            </td>
            {% endif %}
            {%  else %} <!--keeps the table aligned if there isn't a vendor-->
            {% if row[4] != '' %}
            <td>
                <a href={{row[4]}}>Link</a> <!--takes the user to the specific page-->
            </td>
            {%  else %}
            <td>
                <p></p>
            </td>
            {% endif %}
            {% endif%}
        </tr>

        {% endfor %}
        </tbody>
    </table>
</div>



<div class="table-responsive">
    <h4>Recent Transactions</h4>
    <table id="" class="table table-striped">
        <thead>
            <tr> <!-- This block adds column names to the table-->
                {% for item in trans_column_html %}
                    <th>{{item}}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in trans_data_html %} <!-- for row in query response, make a new row-->
                <tr>
                    {% for data in row %} <!--for every piece of data in a row, make a new cell-->
                        <td>{{ data }}</td> <!-- populate cell-->
                    {% endfor %}
                </tr>

            {% endfor %}
        </tbody>
    </table>
</div>
<!--<script>-->
<!--        $(window).on('resize', function() {-->
<!--         if($(window).height() < 400) {-->
<!--            $('#table').addClass('w-auto');-->
<!--            $('#table').removeClass('table-responsive');-->
<!--          }else{-->
<!--            $('#table').addClass('table-responsive');-->
<!--            $('#table').removeClass('w-auto');-->
<!--          }-->
<!--          })-->
<!--</script>-->
{% endblock content %}

