<!--
Author:                Trevor Strobel
Date:                  4/21/21
-->
{% extends "layout.html" %}
{% block content %}

<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Edit Item</legend>
            
            <!--Item Name-->
            <div class="form-group">
                {{ form.name.label(class="form-control-label") }}

                {% if form.name.errors %}
                    {{ form.name(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.name.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.name(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <!--Number In Stock -->
            <div class="form-group">
                {{ form.inStock.label(class="form-control-label") }}

                {% if form.inStock.errors %}
                    {{ form.inStock(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.inStock.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.inStock(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <!--Reorder Threshold -->
            <div class="form-group">
                {{ form.threshold.label(class="form-control-label") }}

                {% if form.threshold.errors %}
                    {{ form.threshold(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.threshold.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.threshold(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <!--Vendor Name-->
            <div class="form-group">
                {{ form.vendorName.label(class="form-control-label") }}

                {% if form.vendorName.errors %}
                    {{ form.vendorName(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.vendorName.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.vendorName(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <!--Vendor URL-->
            <div class="form-group">
                {{ form.vendorURL.label(class="form-control-label") }}

                {% if form.vendorURL.errors %}
                    {{ form.vendorURL(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.vendorURL.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.vendorURL(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{form.submit(class="btn btn-outline-info")}}
            {% if priv %}
    <!--            {{ form.delete(class="btn btn-outline-danger float-right") }} -->
            {% endif %}
        </div>
        
    </form>
</div>

{% endblock content %}