<!--
Author:                Trevor Strobel
Date:                  4/21/21
-->
{% extends "layout.html" %}
{% block content %}

<h3>Employees</h3>
<form method="POST" action="">
    {{search.hidden_tag()}}
    <div class="form-group search-group">
        {{ search.searchStr.label(class="form-control-label")}}
        {{ search.searchStr(class="form-control form-control-lg") }}
        {{ search.searchBtn(class="btn btn-outline-info")}}
        <a class="btn btn-outline-danger" href="{{ url_for('employees') }}">Clear</a>
    </div>
</form>

<div class="table-responsive">
    <table class="table">
        <thead>
        <tr> <!-- This block adds column names to the table-->
            {% for item in column_html %}
            <th>{{item}}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for row in data_html %} <!-- for row in query response, make a new row-->
        <tr>
            {% for data in (row | list)[1:] %} <!--for every piece of data in a row, make a new cell-->
            <td>{{ data }}</td> <!-- populate cell-->
            {% endfor %}
            {% if priv or id == row[0]%} <!-- checks if user is admin. also grants privileges to change their own entry-->
            <td class = ""> <!-- Cell for the edit button. will be only visible to admins-->
                <a class="btn btn-primary" href="{{ url_for('editEmployee', user_id=row[0])}}" role="button">Edit</a>
            </td>
            {% endif %}
        </tr>

        {% endfor %}
        </tbody>
    </table>
</div>


{% endblock content %}