{% extends "layout.html" %}
{% block content %}

<h3>Employees</h3>
<form method="POST" action="">
    <div class="form-group search-group">
        {{search.searchStr.label(class="form-control-label")}}
        {{ search.searchStr(class="form-control form-control-lg") }}
        {{ search.searchBtn(class="btn btn-outline-info")}}
        {{ search.clearBtn(class="btn btn-outline-danger")}}
    </div>
</form>

<table class="table">
    <thead>
        <tr> <!-- This block adds column names to the table-->
            {% for item in column_html %}
                <th>{{item}}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in data_html %} <!-- for row in query response, make a new row-->
            <tr>
                {% for data in row %} <!--for every piece of data in a row, make a new cell-->
                    <td>{{ data }}</td> <!-- populate cell-->
                {% endfor %}
                <td class = "admin"> <!-- Cell for the edit button. will be only visible to admins-->
                    <button class="btn btn-primary" type="submit">Edit</button>
                </td>
            </tr>

        {% endfor %}
    </tbody>
</table>

{% endblock content %}