{% extends "layout.html" %}
{% block content %}
<h3>Employees</h3>


<table class="table">
    <thead>
        <tr> <!-- This block adds column names to the table-->
            {% for item in column_html %}
                <th>{{item}}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in data_html %} <!-- for row in query response, make a new row-->
            <tr>
                {% for data in row %} <!--for every piece of data in a row, make a new cell-->
                    <td>{{ data }}</td> <!-- populate cell-->
                {% endfor %}
            </tr>

        {% endfor %}
    </tbody>
</table>

{% endblock content %}