<!--
Author:                Trevor Strobel
Date:                  4/21/21
-->
<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}"> <!--does this work?-->


    {% if title %}
        <title>TransiTracker | {{ title }}</title>
    {% else %}
        <title>TransiTracker</title>
    {% endif %}

    <style>
        body{
            margin:0px;
            padding:0px;
            }

        .navbar{
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: rgba(62,62,62,.8);
            color: white;
        }
        .navbar-brand{
            font-size: 1.5rem;
            margin: .5rem;
        }
        .navbar-dark .navbar-nav .nav-link{
          color: white;
          opacity: 1;
        }
        .btn{
            margin: 0.3rem;
        }

        #body {
            background-color: rgba(255,255,255,.85)
        }





    </style>
</head>
<body class="bus-background" style="background-image: url('../static/transit.jpg'); background-repeat: no-repeat;
background-attachment: fixed; background-size: cover; height:95vh;">
      <nav class="navbar navbar-expand-md navbar-dark">
            <a class="navbar-brand" href="/" >TransiTracker</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbartoggle">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbartoggle">
                <ul class="navbar-nav ml-auto">
                    <li><a class="nav-link" href="{{ url_for('dashboard') }}">Dashboard</a></li>
                    <li><a class="nav-link" href="{{ url_for('inventory') }}">Inventory</a></li>
                    <li><a class="nav-link" href="{{ url_for('transactions') }}">Transactions</a></li>
                    <li><a class="nav-link" href="{{ url_for('employees') }}">Employees</a></li>
                    {% if current_user.is_authenticated %}
                    <li><a class="nav-link badge-secondary" href="{{ url_for('logout') }}">Logout</a></li>
                    {% else %}
                    <li><a class="nav-link badge-secondary" href="{{ url_for('login') }}">Login</a></li>
                    {% endif %}
                </ul>
            </div>
            <!-- Navbar Right Side-->
      </nav>



    <main role="main" class="" >

      <div class="container" id="body" >
        <div class="col-xl" style="margin-top: 3vh;" style="margin:10px; padding: 5px;">
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
            {% block content %} <!-- this is where the page contents go-->   {% endblock %}
        </div>
      </div>

    </main>


    <!-- Optional JavaScript -->

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
