<!--
Author:                Trevor Strobel
Date:                  4/21/21
-->
{% extends "layout.html" %}
{% block content %}
<h3>Transaction</h3>
<a class="btn btn-primary" href="{{ url_for('takeItem') }}" role="button">Create Transaction</a>


<table class="table">
    <thead>
    <tr> <!-- This block adds column names to the table-->
        {% for item in column_html %}
        <th>{{item}}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for row in data_html %} <!-- for row in query response, make a new row-->
    <tr>
        {% for data in (row | list)[1:] %} <!--for every piece of data in a row (except the first(the id)), make a new cell-->
        <td>{{ data }}</td> <!-- populate cell-->
        {% endfor %}
        <td class = "admin"> <!-- Cell for the edit button. will be only visible to admins-->
            <a class="btn btn-primary" href="{{ url_for('editItem', item_id=row[0])}}" role="button">Edit</a>

        </td>
    </tr>

    {% endfor %}
    </tbody>
</table>
{% endblock content %}