<!--
Author:                Trevor Strobel
Date:                  4/21/21
-->
{% extends "layout.html" %}
    {% block content %}
    <h3 style="padding: 5px;">Transactions</h3>
    <form method="POST" action="">
        {{search.hidden_tag()}}
        <div class="form-group search-group">
            {{ search.searchStr.label(class="form-control-label")}}
            {{ search.searchStr(class="form-control form-control-lg") }}
            {{ search.searchBtn(class="btn btn-outline-info")}}
            <a class="btn btn-outline-danger" href="{{ url_for('transactions') }}">Clear</a>
        </div>
    </form>

    <a class="btn btn-primary" href="{{ url_for('takeItem') }}" role="button" style="float: left;">Create Transaction +</a>
    <div>
        <div class="table-responsive" >
            <table class="table table-striped">
                <thead>
                <tr> <!-- This block adds column names to the table-->
                    {% for item in column_html %}
                    <th>{{item}}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for row in data_html %}
                <tr>
                    {% for data in (row | list)[1:] %} <!--for every piece of data in a row (except the first(the id)), make a new cell-->
                    <td>{{ data }}</td> <!-- populate cell-->
                    {% endfor %}
                </tr>

                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>




    {% endblock content %}

