<!--
Author:                Trevor Strobel
Date:                  4/21/21
-->
{% extends "layout.html" %}
{% block content %}
<h3 class="pt-1">Transactions</h3>

<form class="form-inline my-2 my-lg-2">
  <a class="btn btn-primary" href="{{ url_for('takeItem') }}" role="button">+</a>
  <input class="form-control ml-auto" type="search" placeholder="Search" aria-label="Search">
  <button class="btn btn-secondary my-2 my-sm-2 mr-0" type="submit">Search</button>
  <button class="btn btn-danger my-2 my-sm-2" type="reset">Clear</button>
</form>

<div class="table-responsive">
    <table class="table">
        <thead>
        <tr> <!-- This block adds column names to the table-->
            {% for item in column_html %}
            <th>{{item}}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for row in data_html %}
        <tr>
            {% for data in (row | list)[1:] %} <!--for every piece of data in a row (except the first(the id)), make a new cell-->
            <td>{{ data }}</td> <!-- populate cell-->
            {% endfor %}
        </tr>

        {% endfor %}
        </tbody>
    </table>
</div>



{% endblock content %}
