body {
  height: 100vh;
}

main .container {
  background-color: #ffffff;
  height: 100%;
}
.site-header{
    background: #582C83;
    color: #333333;
    margin-top: 5rem;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #444444;
  }

  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
  
 
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }

 